.menu-back {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('../img/image472146.jpg') no-repeat;
  background-size: cover;
 
  height: 100%;
}

.blur{
 backdrop-filter: blur(7px);
}